
body {
    background-color: lightblue;
}

table {
    background-color: lightblue;
}

.button {
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: orangered;
}

.textview {
    width: 300px;
    margin: 5px;
    font-size: 25px;
    padding: 5px;
    background-color: rgb(224, 169, 97);
}

tr:nth-child(even) {
    background-color: lightblue;
}

.calculator {
    align-items: center;
}